<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ricky.danmu.dao.UserDao">

    <update id="updateCutScore">
        update user set score = score - #{score} where uuid = #{uuid}
    </update>

    <update id="updateAddScore">
        update user set score = score + #{score} where uuid = #{uuid}
    </update>

</mapper>